In [1]:
import pandas as pd
data=pd.read_csv("https://raw.githubusercontent.com/srinivasav22/Graduate-Admission-Prediction/master/Admission_Predict_Ver1.1.csv")

In [2]:
data.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65

In [3]:
data.columns

Index(['Serial No.', 'GRE Score', 'TOEFL Score', 'University Rating', 'SOP',
       'LOR ', 'CGPA', 'Research', 'Chance of Admit '],
      dtype='object')

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Serial No.         500 non-null    int64
 1   GRE Score          500 non-null    int64
 2   TOEFL Score        500 non-null    int64
 3   University Rating  500 non-null    int64
 4   SOP                500 non-null    float64
 5   LOR                500 non-null    float64
 6   CGPA               500 non-null    float64
 7   Research           500 non-null    int64
 8   Chance of Admit    500 non-null    float64
dtypes: float64(4), int64(5)
memory usage: 35.3 KB

In [6]:
data.describe().T

,count,mean,std,min,25%,50%,75%,max
Serial No.,500.0,250.50000,144.481833,1.00,125.7500,250.50,375.25,500.00
GRE Score,500.0,316.47200,11.295148,290.00,308.0000,317.00,325.00,340.00
TOEFL Score,500.0,107.19200,6.081868,92.00,103.0000,107.00,112.00,120.00
University Rating,500.0,3.11400,1.143512,1.00,2.0000,3.00,4.00,5.00
SOP,500.0,3.37400,0.991004,1.00,2.5000,3.50,4.00,5.00
LOR,500.0,3.48400,0.925450,1.00,3.0000,3.50,4.00,5.00
CGPA,500.0,8.57644,0.604813,6.80,8.1275,8.56,9.04,9.92
Research,500.0,0.56000,0.496884,0.00,0.0000,1.00,1.00,1.00
Chance of Admit,500.0,0.72174,0.141140,0.34,0.6300,0.72,0.82,0.97

In [12]:
x = data.drop("Chance of Admit ", axis = 1)

In [13]:
x.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research
0,1,337,118,4,4.5,4.5,9.65,1
1,2,324,107,4,4.0,4.5,8.87,1
2,3,316,104,3,3.0,3.5,8.00,1
3,4,322,110,3,3.5,2.5,8.67,1
4,5,314,103,2,2.0,3.0,8.21,0

In [14]:
y = data['Chance of Admit ']

In [15]:
y.head()

0    0.92
1    0.76
2    0.72
3    0.80
4    0.65
Name: Chance of Admit , dtype: float64

In [17]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.33, random_state=42)

In [18]:
 from sklearn.preprocessing import StandardScaler

In [19]:
scaler = StandardScaler()

In [20]:
scaler.fit(x_train)##calculate the mean and std dev

StandardScaler()

In [21]:
print(scaler.mean_)

[255.35820896 316.7641791  107.31343284   3.09552239   3.38059701
   3.50149254   8.58498507   0.56716418]

In [22]:
x_train_tf=scaler.transform(x_train)

In [24]:
x_train_tf

array([[ 1.55816388e+00, -5.25174731e-01, -7.06985745e-01, ...,
         5.38819022e-01, -8.35765678e-01, -1.14470294e+00],
       [-1.64243247e+00,  4.77035981e-01,  2.76433873e-01, ...,
        -1.61323061e-03,  3.63045482e-01, -1.14470294e+00],
       [-1.77908715e+00, -7.98504925e-01, -1.03479228e+00, ...,
         5.38819022e-01, -1.15657430e+00, -1.14470294e+00],
       ...,
       [ 6.73504661e-01, -1.34516531e+00, -1.36259882e+00, ...,
        -1.62290999e+00, -2.25407747e+00, -1.14470294e+00],
       [ 1.29923923e+00, -7.07394861e-01, -3.79179206e-01, ...,
         5.38819022e-01, -1.52803691e+00, -1.14470294e+00],
       [-1.09581377e+00, -2.51844537e-01, -2.15275936e-01, ...,
        -1.61323061e-03, -5.65611050e-01, -1.14470294e+00]])

In [25]:
from sklearn.svm import SVR
model=SVR()

In [26]:
model.fit(x_train_tf,y_train)

SVR()

In [27]:
model.score(x_train_tf,y_train)

0.8002696421631224

In [28]:
x_test_tf=scaler.transform(x_test)

In [29]:
y_predict=model.predict(x_test_tf)

In [32]:
from sklearn.metrics import r2_score

In [33]:
r2_score(y_test,y_predict)

0.7632199437959383